h2 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  font-family: PT Sans;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  font-family: PT Sans;
}

.bottom {
  font-size: 30px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  font-family: PT Sans;  
}

body {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: normal;
  font-family: PT Sans; 
}

